<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>Simbiótica is a digital creative agency based in Madrid. Our work is to tell stories in the form of innovative, useful, and appealing experiences that allow organizations to establish lasting and profitable relationships with their public. We have worked with all sorts of organizations, companies, and research institutes, including the WRI, Climate Policy Initiative, UNEP, Interaction, and the World Bank.</p>

        <p>Simbiótica specializes in open source developments of dynamic websites, mobile and responsive applications, online cartographies, and data visualization implementations using tools like Drupal, Ruby On Rails, CartoDB, OpenStreetMaps and front-end technologies and libraries such as HTML5 / CSS3, D3.js, Backbone, and Leaflet.</p>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
