<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>Vizzuality is a world-renowned digital agency, delivering bespoke, beautiful visualisations and tools to Google, United Nations organisations, eminent Universities and some of the biggest NGOs in the world. Our team of engineers, strategists and scientists hail from a broad range of degree disciplines like Agricultural Engineering, Geography, Marine Biology, Environmental Engineering and Information Science. We are a flexible, responsive and productive team, keen to listen, learn and adapt, to deliver the best possible product.</p> 
        <p>Our ability to innovate and deliver exciting products is in no small part down to our staff. With experience in a number of sectors, from architecture to renewable energy and the UN system, backed by world-class degrees, they are ready to respond to a huge range of challenges.</p>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
